<h1>All our restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>

  <% if false %>
    <%= link_to restaurant_path(restaurant) do %>
    <% end %>
  <% end %>

  <p><%= restaurant.address %></p>
  <p><%= restaurant.chef %></p>
<% end %>
